parameters:
  level: 8
  paths:
    - src
  excludePaths:
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 8
    minimumNumberOfJobsPerProcess: 2

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon
