parameters:
	ignoreErrors:
		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$allowedGrowthPercentage is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$asteroidProbabilities is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$hasAsteroids is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$hasMoons is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$hasPlanets is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$maxAsteroids is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$maxMoons is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$maxPlanets is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$moonProbabilities is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Property Stu\\\\StarsystemGenerator\\\\Config\\\\SystemConfiguration\\:\\:\\$planetProbabilities is never read, only written\\.$#"
			count: 1
			path: src/StarsystemGenerator/Config/SystemConfiguration.php

		-
			message: "#^Loose comparison using \\=\\= between 1 and 1 will always evaluate to true\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:centralize\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:centralize\\(\\) has parameter \\$star with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:centralize\\(\\) has parameter \\$stars with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:collides\\(\\) has parameter \\$star1 with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:collides\\(\\) has parameter \\$star2 with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:distance\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:distance\\(\\) has parameter \\$m with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:distance\\(\\) has parameter \\$n with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:distance\\(\\) has parameter \\$x with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:distance\\(\\) has parameter \\$y with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:doPhase\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:doPhase\\(\\) has parameter \\$colfields with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:doPhase\\(\\) has parameter \\$p with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:doPhase\\(\\) has parameter \\$phase with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:draw\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:draw\\(\\) is unused\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:drawCircle\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:drawCircle\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:drawCircle\\(\\) has parameter \\$centerX with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:drawCircle\\(\\) has parameter \\$centerY with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:drawCircle\\(\\) has parameter \\$radius with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:generateOld\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:generateOld\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$adjacent with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$colfields with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$from with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$mode with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$noadjacent with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$noadjacentlimit with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:getWeightingList\\(\\) has parameter \\$to with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:makeCoreZone\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:makeCoreZone\\(\\) has parameter \\$star with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:pdraw\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:polarToXY\\(\\) has parameter \\$angle with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:polarToXY\\(\\) has parameter \\$distance with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:polarToXY\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:randround\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:randround\\(\\) has parameter \\$x with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:randround\\(\\) is unused\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:weightedDraw\\(\\) has parameter \\$a with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:weightedDraw\\(\\) has parameter \\$fragmentation with no type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGenerator\\:\\:weightedDraw\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Parameter \\#2 \\$max of function rand expects int, float given\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$bar might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$borderx might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$bordery might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$conx might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$cony might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$fields might not be defined\\.$#"
			count: 47
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$res might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$t might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$ta might not be defined\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Variable \\$zones might not be defined\\.$#"
			count: 4
			path: src/StarsystemGenerator/StarsystemGenerator.php

		-
			message: "#^Method Stu\\\\StarsystemGenerator\\\\StarsystemGeneratorInterface\\:\\:generate\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/StarsystemGenerator/StarsystemGeneratorInterface.php

		-
			message: "#^Parameter \\#1 \\$array of function array_walk is passed by reference, so it expects variables only\\.$#"
			count: 1
			path: src/StarsystemGenerator/SystemMapData.php
